<html>

<head>

    {% load static %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
    <!-- Bootstrap -->
    <link href="{%static 'TpFinalBioApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{%static 'TpFinalBioApp//css/styles.css' %}" rel="stylesheet">
    <title>{% block titulo %}Introducción a la Bioinformática{% endblock titulo %}</title>
</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      
        <span class="site-heading-lower">Introducción a la Bioinformática - UNQ</span>
      </h1>


 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Home' %}">Introducción a la Bioinformática - UNQ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">Inicio</a>
          </li>
          <li class="nav-item {% if request.path == '/map' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Map' %}">Mapa</a>
          </li>   
          <li class="nav-item {% if request.path == '/upload' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Upload' %}">Subir fasta</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Contenido cambiante -->
    {% include 'common/messages.html' %}
    <div class="container">
      <div class="row">
        <div class=" col-md-10 mx-auto">

        {% block contenido %}
        
        {% endblock contenido %}

      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 mbt colorfont">
        Lucio Francioni - Nahuel Pereyra - Leonardo Di Carlo
      </p>
      <p class="m-0 mbt1 colorfont">&copy; Introducción a la Bioinformática - UNQ 2020</p>
    </div>
</footer>

  <!-- Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{%static 'TpFinalBioApp/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqJwGQtaGHY5Bm56dMzfcRgRRQ9uCn8G8"></script>
  <script src="{%static 'TpFinalBioApp/js/scripts.js' %}"></script>
</body>
</html>