{% extends "TpFinalBioApp/index.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block contenido %}
    <div class="uploadedSecuence">
        <h2 class="colorfont">Subir secuencia</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h6 class="formatHeader">Formato Header: > gi | --- | gb | --- | loc | ---</h6>
            {{ form|crispy}}
            <button type="submit" class="btn btn-primary">Upload file</button>
        </form>
        {% if url %}
            <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
        {% endif %}
    </div>
{% endblock %}
